<!DOCTYPE html>
<html>
  <head>
    <title>MailgunApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- header -->
    <div>
      <%= link_to 'Notification Mail', notifications_path %>
      <%= link_to 'Webhooks', webhook_index_path %>
    </div>

    <%= yield %>
  </body>
</html>
